# macOS
.DS_Store

# Environment variables
.env

# Visual Studio Code
.vscode/

# Editor backup files
*~

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
